---
import car1 from '../img/car1.jpg'
import car2 from '../img/car2.jpg'
import car3 from '../img/bmw3.jpg'
import car4 from '../img/bmw4.jpg'
import car5 from '../img/carss.jpg'
import car6 from '../img/car6.jpg'
---
 
 <!-- Services -->
 <section class="services" id="services">
    <div class="heading">
      <span>Best Services</span>
      <h1>
        Explore Out Top Deals <br />
        From Top Rated Dealers
      </h1>
    </div>
    <div class="services-container">
      <div class="box">
        <div class="box-img">
          <img src={car1.src} alt="" />
        </div>
        <p>2017</p>
        <h3>2018 Honda Civic</h3>
        <h2>$58500 | $358 <span>/month</span></h2>
        <a href="#" class="btn">Rent Now</a>
      </div>

      <div class="box">
        <div class="box-img">
          <img src={car2.src} alt="" />
        </div>
        <p>2017</p>
        <h3>2018 Honda Civic</h3>
        <h2>$58500 | $358 <span>/month</span></h2>
        <a href="#" class="btn">Rent Now</a>
      </div>

      <div class="box">
        <div class="box-img">
          <img src={car3.src} alt="" />
        </div>
        <p>2017</p>
        <h3>2018 Honda Civic</h3>
        <h2>$58500 | $358 <span>/month</span></h2>
        <a href="#" class="btn">Rent Now</a>
      </div>

      <div class="box">
        <div class="box-img">
          <img src={car4.src} alt="" />
        </div>
        <p>2017</p>
        <h3>2018 Honda Civic</h3>
        <h2>$58500 | $358 <span>/month</span></h2>
        <a href="#" class="btn">Rent Now</a>
      </div>

      <div class="box">
        <div class="box-img">
          <img src={car5.src} alt="" />
        </div>
        <p>2017</p>
        <h3>2018 Honda Civic</h3>
        <h2>$58500 | $358 <span>/month</span></h2>
        <a href="#" class="btn">Rent Now</a>
      </div>

      <div class="box">
        <div class="box-img">
          <img src={car6.src} alt="" />
        </div>
        <p>2017</p>
        <h3>2018 Honda Civic</h3>
        <h2>$58500 | $358 <span>/month</span></h2>
        <a href="#" class="btn">Rent Now</a>
      </div>
    </div>
  </section>